<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lookballs.app.pictureselector">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- TODO 在AndroidQ及以上手机，如果不设置android:requestLegacyExternalStorage="true"，会报open failed: EACCES (Permission denied)错误，导致图片上传不了。如果在更高版本的设备上设置这个也没用了，就需要使用三方权限框架去对文件读写权限做适配 -->

    <application
        android:name=".StartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickPictureselector">
        <activity android:name=".PictureSelectorMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".TestFragmentActivity" />
    </application>

</manifest>